.sampleMachineConfirm{
  min-height: 100vh;
  padding-top: 24px;
  background: #F5F5F5;
}
.product-confirm{
  padding: 0 24px;
}
.product-info{
  position: relative;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 14px;
  background: #fff;

  @mixin uni-num-h {
    height: 38px;
    line-height: 38px;
  }

  .uni-numbox {
    @include uni-num-h;
  }

  .uni-numbox--text {
    color: #999;
    font-size: 26px;
  }

  /*.uni-input-input {
    color: $theme-color;
    font-size: 22px;
  }*/

  .uni-numbox__plus {
    @include uni-num-h;

    /*.uni-numbox--text {
      color: $theme-color;
    }*/
  }

  .uni-numbox__value {
    @include uni-num-h;
    min-height: 38px;
    //color: $theme-color;
    font-size: 22px;
  }

  .uni-numbox__minus {
    height: 38px;
    line-height: 38px;
  }
}
.product-info:before{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #F5F5F5;
  position: absolute;
  bottom:130px;
  left: -20px;
  transform:translateY(-50%);
}
.product-info:after{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background: #F5F5F5;
  position: absolute;
  bottom:130px;
  right: -20px;
  transform:translateY(-50%);
}
.product-info-top{
  padding-bottom: 34px;
  display: flex;
  border-bottom: 2px dashed $theme-color;
}
.sampleMachineConfirm-img-wrap {
  flex-shrink: 0;
  width: 152px;
  height: 152px;

  image {
    width: 100%;
    height: 100%;
  }
}
.sampleMachineConfirm-inf{

}
.sampleMachineConfirm-inf-title {
  color: #333;
  font-size: 28px;
  line-height: 40px;
  padding-right: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 18px;
}
.sampleMachineConfirm-price{
  margin-right: 26px;
  color: #ED2856;
  font-size: 32px;
}
.product-info-bottom{
  padding-top: 34px;
  line-height: 58px;
  color: #666;
  font-size: 24px;
}
.payfor-info{
  background: #fff;
  padding: 24px;
  font-size: 24px;
  line-height: 58px;
  color: #333;
  border-radius:20px;
  .payer-show{
    flex-grow: 1;
    position: relative;
  }
  .payer-list{
    position: absolute;
    left: 80px;
    top: 64px;
    background: #fff;
    padding: 18px;
    border: 1px solid #aaa;
    border-radius: 8px;
    transition: transform .3s;
    z-index: 99;
    .payer-item{
      word-wrap: break-word;
      .active{
        font-weight: 600;
        color: #409EFF;
        font-size: 28px;
      }
    }
  }
}
.payfor-info-bottom{
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-size: 24px;
  padding: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  button{
    margin-left: 16px;
    width:186px;
    height:48px;
    line-height: 48px;
    font-size: 28px;
    background:$theme-color;
    border-radius:24px;
    color: #fff;
  }
}
.text-theme{
  color: $theme-color;
}
.pos-r{
  position: relative;
}
.normal {
  display: inline-block;
  transform: rotate(-90deg);
}
.pull-right{
  float: right;
}
.reverse {
  display: inline-block;
  transform: rotate(0deg) !important;
}
