.transferDetailItem {
  position: relative;
  padding-bottom: 96px;
  background: linear-gradient(158deg, #509DE8 100%, #2283E2 100%);
  border-radius: 20px;
}
  
.transferDetailItem-wrap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.transferDetailItem-detail {
  position: relative;
  width: 100%;
  padding: 40px 24px;
  background: #fff;
  border-bottom: 1px dashed $theme-color;
  padding: 24px;

  &:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  } 
  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .transferDetailItem-detail-odd {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 26px;
    .transferDetailItem-detail-close {
      color: #2283E2;
      margin-left: 288px;
    }
    .transferDetailItem-detail-odd-num {
      color: #2283E2;
    }
  }
  .transferDetailItem-detail-cnt {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .transferDetailItem-detail-cnt-img-wrap {
      width: 152px;
      height: 152px;
      flex-shrink: 0;     
      image {
        width: 100%;
        height: 100%;
      }
    }
    
    .transferDetailItem-detail-head{
      display: flex;
      position: relative;
    
      .transferDetailItem-detail-cnt-inf-title {
        width: 498px;
        height: 80px;
        font-size: 28px;
        color: #333;
        // white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

      }
      .transferDetailItem-detail-like.iconfont {
        font-size: 30px;
        position: absolute;
        right: 0px;
        top: 40px;
        color: #2283E2 !important;
        
      }
    }
    .transferDetailItem-detail-cnt-price {
      font-size:28px;
      color: #2283E2;
    }
  }
  .transferDetailItem-detail-cnt-version {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
    .reverse {
      display: inline-block;
      transform: rotateX(180deg);
    }
    .transferDetailItem-cnt-price-info {
      width: 500px;
      position: absolute;
      top: 50px;
      left: -4px;
      z-index: 500;
      background: rgba(255, 255, 255, 0.911);
      border: 1px solid #c3c3c3;
      .tShoppingCartItem-cnt-price-info-li {
        margin:10px 0px 10px 20px;
      }      
    }
    .tShoppingCartItem-cnt-price-info-li.active {
      color: #ED2856;
      background: #FFF5F7;
      
    }
    .transferDetailItem-detail-cnt-inf-icon {
      font-size: 20px;
    }
  }
  .transferDetailItem-price-foottotal {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 24px;
    .transferDetailItem-cnt-stock {
      color: #2283E2;
      margin-right: 196px;
    }
    .transferDetailItem-cnt-price-subprice {
      font-size: 28px;
      color: #ED2856;
      margin-right: 32px;
    }
    .uni-numbox {
      width: 123px;
      height: 38px;
      background: #fff;
      border-radius: 6px;
    }
    .uni-numbox--text {
      font-size: 26px;
      &.nth-first-child {
        color: #999;
      }
      &.nth-last-child {
        color: #2283E2;
      }
    }
    .uni-numbox__value {
      width: 46px;
      min-height: auto;
      height: 38px;
      font-size: 22px;
      color: #2283E2;
    }
  
    .uni-numbox__plus {
      width: 40px;
      height: 38px;
      line-height: 50px;
      border-left:1px solid rgba(221,221,221,1);
      
    }
    .uni-numbox__minus {
      width: 40px;
      height: 38px;
      line-height: 50px;
      border-right: 1px solid rgba(221,221,221,1);
      
    }
  } 
  .transferDetailItem-detail-mark-item-name {
    display:flex;
    align-items: center;
    width: 654px;
    height: 48px;
    border-radius: 10px;
    background: #E7F3FF;
    font-size: 24px;
    color: #666;
    padding-left:10px;
  }
  .transferDetailItem-detail-mark-item-name-star {
    margin: 0px 10px;
  }
  .transferDetailItem-detail-mark-item-name-end {
    padding: 0px 10px;
  }
}

.transferDetailItem-total {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  color: #fff;
  background:-webkit-linear-gradient(#509DE8,#2283E2);
}

.transferDetailItem-total-text {
  font-size: 24px;
  margin-left: 320px;
  margin-right: 20px;
}

.transferDetailItem-total-price {
  font-size: 40px;
}

  
  