.rechargeOnline-wrap {
  background: #F5F5F5;
  min-height: 100vh;


}

.rechargeOnline-head {
  width: 100%;
  height: 286px;
  background: linear-gradient(305deg, #3895FD 0%, #5EAAFF 100%);
  padding: 38px 26px 0 26px;
}

.rechargeOnline-head-cnt {
  display: flex;
  align-items: center;
}

.rechargeOnline-head-cnt-icon {
  color: #fff;
  font-size: 36px;
}

.rechargeOnline-head-cnt-inf {
  margin-left: 14px;
  font-size: 28px;
  line-height: 40px;
  color: #fff;
}

.rechargeOnline-cnt {
  margin-top: -140px;
}

.rechargeOnline-address-card-warp {
  padding-left: 24px;
  padding-right: 24px;
}

.rechargeOnline-cell-wrap {
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;

  .jRechargeAddressCardCell-wrap {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  uni-textarea {
    height: 100px;

    &.jTextarea-ta {
      padding: 0;
    }
  }

  .uni-textarea-textarea {
    height: 100px;
  }
}

.rechargeOnline-price {
  font-size: 60px;
  color: #ED2856;
}

.rechargeOnline-price-text {
  font-size: 60px;
  color: #ED2856;
}

.rechargeOnline-bank-img {
  width: 288px;
  height: 74px;

  image {
    width: 100%;
    height: 100%;
  }
}

.rechargeOnline-btn-wrap {
  padding: 60px 24px;
}

.jRechargePayCard-par-item {
  margin-top: 24px;

  &.first-child {
    margin-top: 0;
  }
}
