.goodsList {
  min-height: 100vh;
  background: #F5F5F5;

  .uni-drawer__content {
    width: 608px !important;
  }
}

.goodsList-head-wrap {
  position: fixed;
  top: var(--window-top);
  z-index: 99;
  width: 100%;
  padding-top: 104px;

  .jHeadTab-icon-wrap {
    .iconfont {
      font-size: 24px;
    }

    &.desc {
      .iconfont:first-child {
        color: #333;
      }

      .iconfont:last-child {
        color: $theme-color;
      }
    }

    &.asc {
      .iconfont:first-child {
        color: $theme-color;
      }

      .iconfont:last-child {
        color: #333;
      }
    }
  }
}

.goodsList-drawer {
  position: relative;
  height: 100%;
}

.goodsList-drawer-cnt-list {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding-left: 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.goodsList-drawer-filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #666;
  height: 42px;
  margin-bottom: 24px;
  margin-top: 32px;
  padding-right: 30px;

  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}

.goodsList-drawer-filter-head-icon-right {
  color: #999;
  font-size: 28px;
}

.goodsList-drawer-filter-head-tips {
  font-size: 24px;
  color: #999;
}

.goodsList-drawer-filter-head-ads-wrap {
  padding-right: 30px;

  .goodsList-drawer-filter-head {
    padding-right: 0;
  }
}

.goodsList-drawer-filter-head-ads {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #F7F7F8;
  border-radius: 24px;
  color: #666;
  font-size: 24px;
  padding-left: 32px;
  padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goodsList-drawer-filter-price-range {
  display: flex;
  align-items: center;
}


.goodsList-drawer-filter-price-ipt {
  width: 160px;
  height: 52px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}

.goodsList-drawer-filter-price-line {
  width: 52px;
  height: 1px;
  background: #DBDBDB;
  margin-left: 34px;
  margin-right: 34px;
}


.goodsList-search-tab {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 104px;
  background: #fff;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #F5F5F5;
}

.goodsList-search-tab-btn {
  display: inline-block;
  width: 160px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: $theme-color;
  border-radius: 28px;
  color: #fff;
  font-size: 28px;
}
