.goodsList {
  min-height: 100vh;
  padding-top: 256px;
  background: #F5F5F5;

  .uni-drawer__content {
    width: 608px !important;
  }
}

.goodsList-head-wrap {
  position: fixed;
  top: var(--window-top);
  z-index: 99;
  width: 100%;
  padding-top: 104px;

  .jHeadTab-icon-wrap {
    .iconfont {
      font-size: 24px;
    }

    &.desc {
      .iconfont:first-child {
        color: #333;
      }

      .iconfont:last-child {
        color: $theme-color;
      }
    }

    &.asc {
      .iconfont:first-child {
        color: $theme-color;
      }

      .iconfont:last-child {
        color: #333;
      }
    }
  }
}

.goodsList-drawer {
  position: relative;
  height: 100%;
}

.goodsList-drawer-cnt-list {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding-left: 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.goodsList-drawer-filter-price-range {
  display: flex;
  align-items: center;
}


.goodsList-drawer-filter-price-ipt {
  width: 160px;
  height: 52px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}

.goodsList-drawer-filter-price-line {
  width: 52px;
  height: 1px;
  background: #DBDBDB;
  margin-left: 34px;
  margin-right: 34px;
}
