.vehicleList{
  min-height: 100vh;
  background: #F5F5F5;

  .uni-drawer__content {
    width: 608px !important;
  }
}
.vehicleList-tab{
  position: fixed;
  top: var(--window-top);
  z-index: 99;
  width: 100%;
  padding-top: 104px;
}
.vehicle-search{
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 104px;
  background: #fff;
  border-bottom: 1px solid #F5F5F5;
}
.vehicle-btn{
  display: inline-block;
  width: 160px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: $theme-color;
  border-radius: 28px;
  color: #fff;
  font-size: 28px;
}
.jSearchInput-wrap{
  margin:24px 22px 24px 24px;
  z-index:100;
}
.jSearchInput{
  margin:24px 22px 24px 24px;
  z-index:100;
}
.vehicle-listItem{
  padding-top: 260px;
}
.vehicle-listItemEl{
  padding-top: 50%;
  padding-left: 42%;
  font-size: 24px;
  color: #999999;
}


.vehicle-drawer-filter-head-icon-right {
  color: #999;
  font-size: 28px;
}
.vehicle-drawer-filter-head-ads {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #F7F7F8;
  border-radius: 24px;
  color: #666;
  font-size: 24px;
  padding-left: 32px;
  padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vehicle-drawer-filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #666;
  height: 42px;
  margin-bottom: 24px;
  margin-top: 32px;
  padding-right: 30px;

  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}
.vehicle-drawer-filter-head-ads-wrap {
  padding-right: 30px;

  .vehicle-drawer-filter-head {
    padding-right: 0;

    .jSwitch {
      height: 32px;
      width: 60px;
      border-radius: 16px;
    }
  }
}
.vehicle-drawer-filter-price-range {
  display: flex;
  align-items: center;
}
.vehicle-drawer-filter-price-ipt {
  width: 160px;
  height: 52px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}
.vehicle-drawer-filter-price-line {
  width: 52px;
  height: 1px;
  background: #DBDBDB;
  margin-left: 34px;
  margin-right: 34px;
}
.vehicle-drawer-filter-status{
  margin-right: -36%;
  font-size: 24px;

  &.active {
    color: #ED2856;
  }
}
.vehicle-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #FFFFFF;
}
.vehicle-high {
  background-color: #F5F5F5;
  height: 100px;
}



.vehicleList1{
    .transferList-drawer {
    position: relative;
    height: 100%;
    }

    .transferList-drawer-cnt-list {
    height: calc(100vh - 160px);
    overflow-y: auto;
    padding-left: 32px;

    &::-webkit-scrollbar {
        display: none;
    }
    }

    .transferList-drawer-filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: #666;
    height: 42px;
    margin-bottom: 24px;
    margin-top: 32px;
    padding-right: 30px;

    .iconxia {
        font-size: 20px;
    }

    .reverse {
        display: inline-block;
        transform: rotateX(180deg);
    }
    }

    .transferList-drawer-filter-head-icon-right {
    color: #999;
    font-size: 28px;
    }

    .transferList-drawer-filter-head-tips {
    font-size: 24px;
    color: #999;
    }

    .transferList-drawer-filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    }

    .transferList-drawer-filter-list-item {
    width: 160px;
    height: 52px;
    margin-bottom: 32px;
    margin-right: 32px;
    background: #F7F7F8;
    border-radius: 26px;
    color: #666;
    text-align: center;
    line-height: 60px;
    font-size: 24px;


    &.active {
        color: #ED2856;
        background: #FFF5F7;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
    }

    .transferList-drawer-filter-head-ads-wrap {
    padding-right: 30px;

    .transferList-drawer-filter-head {
        padding-right: 0;
    }
    }

    .transferList-drawer-filter-head-ads {
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #F7F7F8;
    border-radius: 24px;
    color: #666;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .transferList-drawer-filter-price-range {
    display: flex;
    align-items: center;
    }


    .transferList-drawer-filter-price-ipt {
    width: 160px;
    height: 52px;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #DBDBDB;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    }

    .transferList-drawer-filter-price-line {
    width: 52px;
    height: 1px;
    background: #DBDBDB;
    margin-left: 34px;
    margin-right: 34px;
    }
}
