.extidedel-bg {
  width: 750px;
  height: 1496px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 24px 24px;
}
.extidedel-box1 {
  width: 702px;
  height: 509px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.extidedel-box2 {
  margin-top: 24px;
  width: 702px;
  height: 454px;
  background: #ffffff;
  border-radius: 20px;
}
.extidedel-box1-row1 {
  margin-top: 36px;
  margin-left: 32px;
  height: 48px;
}
.box-size {
  display: flex;
}
.extidedel-box1-row2 {
  margin-top: 20px;
  margin-left: 32px;
  height: 40px;
}
.extidedel-box1-row3 {
  margin-top: 12px;
  margin-left: 32px;
}
.extidedel-row1-left {
  position: relative;
  width: 136px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #333333;
  line-height: 48px;
  z-index: 1;
}
.extidedel-left-bg {
  width: 134px;
  height: 12px;
  background: #c1e1ff;
  transform: translate(0, -12px);
}
.extidedel-row1-left2 {
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
}
.extidedel-row1-right2 {
  margin-left: 12px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
}
.extidedel-row1-right {
  width: 630px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
}
.extidedel-title-color {
  color: #ed2856;
}
