.retgooque-bg {
  height: 1496px;
  width: 750px;
  background-color: rgba(245, 245, 245, 1);
  padding: 24px 24px 0 24px;
}
.retgooque-top {
  height: 40px;
  display: flex;
}
.retgooque-top-left {
  display: flex;
}
.retgooque-top-left-title {
  font-size: 29px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(34, 131, 226, 1);
  line-height: 40px;
}
.retgooque-top-lefticon {
  margin-left: 16px;
  margin-top: 16px;
  color: #2283e2;
}
.retgooque-top-right {
  display: flex;
  margin-left: auto;
}
.retgooque-top-right-title {
  font-size: 29px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(34, 131, 226, 1);
  line-height: 40px;
}
.retgooque-image1 {
  margin-left: 10px;
  margin-top: 10px;
  width: 17px;
  height: 19px;
}
.retgooque-box {
  margin-top: 28px;
  border-top: 4px#2283E2 solid;
  width: 702px;
  height: 724px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
}
.retgooque-center {
  margin: 24px;
}

.retgooque-center-row1 {
  height: 40px;
  font-size: 29px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(34, 131, 226, 1);
  line-height: 40px;
}

.retgooque-center-row2 {
  margin-top: 8px;
  height: 40px;
  font-size: 29px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(34, 131, 226, 1);
  line-height: 40px;
}
.retgooque-center-solid {
  margin-top: 24px;
  width: 652px;
  border-top: 2px dashed #c3c3c3;
}
.retgooque-center-solid2 {
  margin-top: 24px;
  width: 652px;
  border-top: 2px solid #c3c3c3;
}
.retgooque-center-row3 {
  margin-top: 18px;
  height: 40px;
  display: flex;
}
.retgooque-center-row4 {
  margin-top: 24px;
  height: 40px;
  display: flex;
}
.retgooque-center-row5 {
  margin-top: 20px;
  height: 58px;
  display: flex;
}
.retgooque-center-left {
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retgooque-center-in {
  display: inline;
  color: #2283e2;
}
.retgooque-center-right {
  margin-left: auto;
  margin-right: 0;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 40px;
}
.retgooque-center-bottom {
  margin-top: 18px;
  width: 654px;
  height: 104px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 52px;
}
.retgooque-button-left {
  margin-left: 218px;
  width: 198px;
  height: 58px;
  background: rgba(245, 166, 35, 1);
  border-radius: 29px;
  display: flex;
}
.retgooque-button-right {
  margin-left: 40px;
  width: 198px;
  height: 58px;
  background: rgba(34, 131, 226, 1);
  border-radius: 29px;
  display: flex;
}
.retgooque-button-right2 {
  margin-left: 456px;
  width: 198px;
  height: 58px;
  background: rgba(34, 131, 226, 1);
  border-radius: 29px;
  display: flex;
}
.retgooque-button-title {
  margin-left: 72px;
  margin-top: 10px;
  width: 56px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
}
