.retdet-bg {
  height: 1496px;
  width: 750px;
  background-color: rgba(245, 245, 245, 1);
  padding: 30px 0 0 24px;
}
.retdet-box {
  width: 702px;
  padding-bottom: 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.retdet-box2 {
  margin-top: 24px;
  width: 702px;
  padding-bottom: 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.retdet-box3 {
  width: 702px;
  padding-bottom: 58px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.retdet-row1 {
  margin-top: 36px;
  margin-left: 32px;
  width: 136px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(51, 51, 51, 1);
  line-height: 48px;
}
.retdet-row1-title {
  position: relative;
  z-index: 1;
}
.retdet-row1-bg {
  position: absolute;
  width: 134px;
  height: 12px;
  background: rgba(193, 225, 255, 1);
  transform: translate(0, -12px);
}
.retdet-row {
  display: flex;
}
.retdet-row2 {
  margin-left: 32px;
  margin-top: 22px;
  width: 196px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row3 {
  margin-left: 32px;
  margin-top: 20px;
  width: 364px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
}
.retdet-row4 {
  margin-left: 32px;
  margin-top: 24px;
  width: 196px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row5 {
  margin-left: 32px;
  margin-top: 12px;
  width: 364px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
}
.retdet-row-left {
  margin-left: 32px;
  margin-top: 36px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row-right {
  margin-left: 12px;
  margin-top: 36px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
}
.retdet-row-left2 {
  margin-left: 32px;
  margin-top: 20px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row-left3 {
  margin-left: 88px;
  margin-top: 20px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row-left4 {
  margin-left: 60px;
  margin-top: 20px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
.retdet-row-right2 {
  margin-left: 12px;
  margin-top: 20px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
}
.retdet-line {
  margin-left: 24px;
  margin-right: 26px;
  margin-top: 24px;
  border-top: 2px dashed #c3c3c3;
}
.retdet-waterline-box {
  margin-top: 48px;
  margin-left: 40px;
  display: flex;
}
.retdet-watlin-left {
  width: 90px;
  height: 40px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(34, 131, 226, 1);
  line-height: 40px;
}
.retdet-watlin-left2 {
  width: 90px;
  height: 40px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 40px;
}
.retdet-watlin-center {
  margin-left: 34px;
  width: 40px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.retdet-watlin-img {
  width: 40px;
  height: 40px;
  image {
    height: 100%;
    width: 100%;
  }
}
.retdet-watlin-line {
  margin-top: 0;
  height: 100%;
  margin-left: 18px;
  width: 4px;
  background-color: rgba(221, 221, 221, 1);
}
.retdet-watlin-right {
  padding-bottom: 34px;
}
.retdet-watlinrig-title {
  margin-left: 20px;
  margin-top: 2px;
  width: 440px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 36px;
}
.retdet-waterline-box2 {
  margin-left: 40px;
  display: flex;
}
