.appdefpro-bg {
  height: 1496px;
  width: 750px;
  background-color: #f5f5f5;
  padding-top: 12px;
}
.appdefpro-row {
  width: 750px;
  height: 94px;
  display: flex;
  background: rgba(255, 255, 255, 1);
}
.appdefpro-row-left {
  margin: 24px 0 24px 24px;
  width: 173px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 48px;
}
.appdefpro-row-right {
  margin: 24px 0 24px 24px;
  width: 505px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 48px;
}
.appdefpro-title {
  color: rgba(204, 204, 204, 1);
}
.appdefpro-row-row {
  width: 24px;
  height: 2px;
  background: rgba(255, 255, 255, 1);
}
.appdefpro-row2 {
  width: 750px;
  height: 84px;
  background: rgba(255, 255, 255, 1);
  display: flex;
}
.appdefpro-row2-title {
  margin: 24px 0 12px 24px;
  width: 543px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 48px;
}
.appdefpro-row2-bottom {
  margin-top: -1px;
  width: 750px;
  height: 242px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}
.appdefpro-row2-iinput {
  margin: 25px 24px 88px 24px;
}
.appdefpro-row2-iinput-text {
  width: 702px;
  height: 128px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(204, 204, 204, 1);
  line-height: 48px;
}
.appdefpro-row2-bottom-number {
  margin-left: 580px;
  margin-top: 16px;
  width: 100px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 48px;
}
.appdefpro-botton-box {
  margin-top: 2px;
  height: 207px;
  background: rgba(255, 255, 255, 1);
  display: flex;
}
.appdefpro-button1 {
  margin-left: 24px;
  margin-top: 62px;
  width: 702px;
  height: 88px;
  background: rgba(34, 131, 226, 1);
  border-radius: 47px;
}
.appdefpro-button1-title {
  margin-left: 298px;
  margin-top: 24px;
  width: 60px;
  height: 40px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
}
.appdefpro-popup {
  height: 702px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}
.item {
  width: 100px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 48px;
}
