.excpag-bg0 {
  height: 528px;
  width: 100%;
  background: #ffffff;
  display: grid;
}
.excpag-bg1 {
  height: 424px;
  width: 100%;
  background: #ffffff;
  display: grid;
}
.excpag-bg2 {
  height: 282px;
  width: 100%;
  background: #ffffff;
  display: grid;
}
.excpag-image0 {
  justify-self: center;
  height: 268px;
  width: 400px;
}
.excpag-image1 {
  justify-self: center;
  height: 240px;
  width: 400px;
}
.excpag-image2 {
  justify-self: center;
  height: 170px;
  width: 260px;
}
.excpag-title {
  margin-top: 104px;
  justify-self: center;
  width: 514px;
  height: 156px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 52px;
  text-align: center;
}
.excpag-title1 {
  margin-top: 106px;
  justify-self: center;
  width: 514px;
  height: 52px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 52px;
  text-align: center;
}
.excpag-title2 {
  margin-top: 20px;
  justify-self: center;
  width: 514px;
  height: 92px;
  text-align: center;
}
.excpag-title2-top {
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 52px;
}

.excpag-title2-bottom {
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 40px;
}
.excpag-color {
  color: #ed2856;
  display: inline;
}
