.conoffeeded-bg {
  width: 750px;
  height: 1496px;
  background: #f5f5f5;
  padding: 24px;
}
.conoffeeded-box {
  width: 702px;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 24px 34px 24px;
}
.conoffeeded-row {
  position: relative;
  z-index: 1;
  width: 654px;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 48px;
  text-align: center;
}
.conoffeeded-row-bg {
  margin-left: 50%;
  width: 428px;
  height: 12px;
  background: #c1e1ff;
  transform: translate(-50%, -12px);
}
.conoffeeded-text {
  margin-top: 42px;
  width: 654px;
  height: 780px;
  font-size: 30px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #333333;
  line-height: 52px;
}
