.inscom-bg {
  width: 750px;
  height: 608px;
  background: #ffffff;
  padding: 26px 40px 0 40px;
}
.inscom-row {
  display: flex;
}
.inscom-left {
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 42px;
}
.inscom-right {
  margin-left: 408px;
  width: 18px;
  height: 44px;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ed2856;
  line-height: 44px;
}
.inscom-center {
  margin-top: 88px;
  width: 128px;
  height: 44px;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 44px;
}
.inscom-input {
  margin-top: 24px;
  height: 84px;
  font-size: 60px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ed2856;
  line-height: 84px;
}
.inscom-inputplahol {
  height: 84px;
  font-size: 60px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ededed;
  line-height: 84px;
}
.inscom-line {
  margin-top: 6px;
  border-top: 2px solid #d1d1d1;
}
.inscom-button {
  margin-top: 60px;
  width: 670px;
  height: 60px;
  background: #2283e2;
  border-radius: 30px;
  display: flex;
}
.inscom-buttitle {
  margin-left: 304px;
  margin-top: 6px;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 44px;
}
