.newterpos-bg {
  width: 750px;
  height: 1496px;

  background: #f5f5f5;
  padding: 24px 24px 0 24px;
}
.newterpos-box {
  width: 702px;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 24px 72px 24px;
}
.newterpos-top {
  position: relative;
  z-index: 1;
  font-size: 34px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 48px;
  text-align: center;
}
.newterpos-top-bg {
  position: relative;
  width: 212px;
  left: 50%;
  height: 12px;
  background: #c1e1ff;
  transform: translate(-50%, -12px);
}
.newterpos-text {
  margin-top: 48px;
  font-size: 28px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #333333;
  line-height: 40px;
}
.newterpos-firsttextkorea {
  text-indent: 2em;
}
.newterpos-row {
  margin-top: 60px;
  display: flex;
  margin-left: 32px;
}
.newterpos-rowleftimg {
  margin-top: 6px;
  width: 30px;
  height: 30px;
}
.newterpos-rowright {
  margin-left: 20px;
  width: 224px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  line-height: 40px;
}
.newterpos-color {
  color: #2283e2;
}
.newterpos-color2 {
  color: #999999;
}
.newterpos-button {
  margin-top: 30px;
  width: 702px;
  height: 88px;
  background: #2283e2;
  border-radius: 44px;
  display: flex;
}
.newterpos-button2 {
  margin-top: 30px;
  width: 702px;
  height: 88px;
  background: #999999;
  border-radius: 44px;
  display: flex;
}
.newterpos-buttontext {
  margin-left: 276px;
  margin-top: 24px;
  width: 120px;
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 42px;
}
