.terposdet-bg {
  width: 750px;
  height: 2216px;
  background: #f5f5f5;
  padding: 24px 24px 0 24px;
}
.terposdet-box {
  width: 702px;
  background: #ffffff;
  border-radius: 20px;
  padding: 36px 26px 20px 32px;
}
.terposdet-row {
  display: flex;
}

.terposdet-space1 {
  margin-bottom: 22px;
}
.terposdet-space2 {
  margin-bottom: 20px;
}
.terposdet-space3 {
  margin-bottom: 24px;
}

.terposdet-top {
  position: relative;
  z-index: 1;
  height: 48px;
  font-size: 34px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #333333;
  line-height: 48px;
}
.terposdet-top-bg {
  width: 204px;
  height: 12px;
  background: #c1e1ff;
  transform: translate(0, -12px);
}
.terposdet-title {
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 40px;
}
.terposdet-space4 {
  margin-left: 12px;
}
.terposdet-space5 {
  margin-left: 2px;
}
.terposdet-space6 {
  margin-left: -8px;
}
.terposdet-color {
  color: #333333;
  white-space: nowrap;
}
.terposdet-color1 {
  color: #2283e2;
}
.terposdet-color2 {
  color: #666666;
}
.terposdet-line {
  border-top: 2px dashed #c3c3c3;
}
