.temposapp-bg {
  width: 750px;
  height: 1496px;
  background: #f5f5f5;
  padding: 22px 24px 0 24px;
}
.temposapp-row {
  display: flex;
}
.temposapp-space {
  margin-bottom: 20px;
}
.temposapp-space2 {
  margin-bottom: 26px;
}
.temposapp-space3 {
  margin-bottom: 24px;
}
.temposapp-space4 {
  margin-bottom: 28px;
}
.temposapp-left {
  width: 140px;
  background: #2283e2;
  border-radius: 29px;
}
.temposapp-right {
  margin-right: 0;
  margin-left: -12px;
}
.temposapp-right2 {
  margin-right: 0;
  margin-left: auto;
}
.temposapp-title {
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 40px;
}
.temposapp-icon {
  margin-left: 30px;
  margin-top: 14px;
}
.temposapp-width {
  width: 322px;
}
.temposapp-width2 {
  width: 344px;
}
.temposapp-color {
  color: #2283e2;
}
.temposapp-textposi {
  text-align: right;
}
.temposapp-color2 {
  color: #333333;
}
.temposapp-color3 {
  color: #999999;
  text-align: right;
}
.temposapp-img {
  margin-left: 28px;
  margin-top: 14px;
  width: 17px;
  height: 9px;
}
.temposapp-box {
  width: 702px;
  border-top: 4px solid #2283e2;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px 24px 30px 24px;
  margin-bottom: 24px;
}
.temposapp-line {
  border-top: 2px dashed #c3c3c3;
}
.temposapp-line2 {
  border-top: 2px solid #c3c3c3;
}
.temposapp-leftbutton {
  margin-left: 228px;
  width: 198px;
  height: 58px;
  border-radius: 29px;
  border: 2px solid #f5a623;
  display: flex;
}
.temposapp-rightbutton {
  margin-left: auto;
  margin-right: 0;
  width: 198px;
  height: 58px;
  background: #2283e2;
  border-radius: 29px;
  display: flex;
}
.temposapp-buttitle1 {
  margin-left: 44px;
  margin-top: 8px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ca8718;
  line-height: 40px;
}
.temposapp-buttitle2 {
  margin-left: 72px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 40px;
  margin-top: 10px;
}
