.terposannfee-bg {
  width: 750px;
  // min-height: 1496px;
  background: #f5f5f5;
  padding: 24px;
}
.terposannfee-row {
  display: flex;
}
.terposannfee-space {
  margin-bottom: 24px;
}
.terposannfee-space2 {
  margin-bottom: 22px;
}
.terposannfee-space3 {
  margin-bottom: 20px;
}
.terposannfee-space4 {
  margin-bottom: 28px;
}
.terposannfee-top-left {
  width: 520px;
  height: 56px;
  background: #ffffff;
  border-radius: 28px;
  border: 1px solid #bdbdbd;
  display: flex;
}
.terposannfee-top-right {
  margin-left: 22px;
  width: 160px;
  height: 56px;
  background: #2283e2;
  border-radius: 28px;
  display: flex;
}
.terposannfee-topright-title {
  margin-top: 8px;
  margin-left: 52px;
}
.terposannfee-title {
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 40px;
}
.terposannfee-color {
  color: #ffffff;
}
.terposannfee-color3 {
  color: #333333;
}
.terposannfee-color2 {
  color: #2283e2;
}
.terposannfee-color4 {
  color: #999999;
}
.terposannfee-color5 {
  color: #ff641d;
}
.terposannfee-img {
  margin-left: 26px;
  margin-top: 14px;
  width: 26px;
  height: 26px;
}
.terposannfee-input {
  margin-left: 26px;
  margin-right: 28px;
  width: 100%;
  margin-top: 10px;
  font-size: 24px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #333333;
  line-height: 34px;
}
.terposannfee-plahol {
  height: 34px;
  font-size: 24px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #999999;
  line-height: 34px;
}
.terposannfee-box {
  border-top: 4px solid #2283e2;
  width: 702px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px 24px 28px 24px;
  margin-bottom: 24px;
}
.terposannfee-line {
  margin-right: 2px;
  border-top: 2px dashed #c3c3c3;
}
.terposannfee-line2 {
  margin-right: 2px;
  border-top: 2px solid #c3c3c3;
}
.terposannfee-right {
  margin-right: 0;
  margin-left: auto;
}
.terposannfee-button1 {
  margin-left: 228px;
  width: 198px;
  height: 58px;
  border-radius: 29px;
  border: 2px solid #ff641d;
  display: flex;
}
.terposannfee-but1-text {
  margin-left: 42px;
  margin-top: 6px;
}
.terposannfee-button2 {
  margin-left: 30px;
  width: 198px;
  height: 58px;
  background: #2283e2;
  border-radius: 29px;
  display: flex;
}
.terposannfee-but2-text {
  margin-left: 72px;
  margin-top: 8px;
}
