@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

view,
input,
button,
text,
label,
image {
  box-sizing: border-box;
}

button {
  margin: 0;
  border-radius: 0;
  border: 0;

  &:after {
    display: none;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*fix uni-app*/

.uni-popup {
  .uni-transition {
    bottom: var(--window-bottom) !important;
  }
}

.uni-toast {
  .uni-icon_toast {
    &:before {
      font-size: 60px !important;
    }
  }

  .uni-toast__content {
    font-size: 26px;
  }
}

.jsh-app {
  .uni-body {
    .uni-popup-dialog {
      width: 400px;

      .uni-dialog-button {
        height: 60px;
      }
    }

    .uni-dialog-content {
      padding: 10px 20px 20px 20px;
    }
  }

  .popup_list {
    .mpopup {
      width: 700px;
      height: 86px;

      .text {
        font-size: 30px;
      }
    }
  }
}


/*fix uni-app end*/
