@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

view,
input,
button,
text,
label,
image {
  box-sizing: border-box;
}

button {
  margin: 0;
  border-radius: 0;
  border: 0;

  &:after {
    display: none;
  }
}

/*fix uni-app*/

.uni-popup {
  .uni-transition {
    bottom: var(--window-bottom) !important;
  }
}

.uni-toast {
  .uni-icon_toast {
    &:before {
      font-size: 60px !important;
    }
  }

  .uni-toast__content {
    font-size: 26px;
  }
}

/*fix uni-app end*/
