/*margin*/

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt40 {
  margin-top: 40px;
}

.mt58 {
  margin-top: 58px;
}

.mt60 {
  margin-top: 60px;
}

.mt116 {
  margin-top: 116px;
}

.ml8 {
  margin-left: 8px;
}

.ml10 {
  margin-left: 10px;
}

.ml14 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml24 {
  margin-left: 24px;
}

.ml26 {
  margin-left: 26px;
}

.ml40 {
  margin-left: 40px;
}

.ml48 {
  margin-left: 40px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24{
  margin-bottom: 24px;
}

.mr6 {
  margin-right: 6px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mr12 {
  margin-right: 12px;
}

.mr20 {
  margin-right: 20px;
}

.mr32 {
  margin-right: 32px;
}

.mr34 {
  margin-right: 34px;
}

/*margin end*/
/*col star*/
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

.col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-33, .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-45 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.col-63 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 63%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 63%;
  -ms-flex: 0 0 63%;
  flex: 0 0 63%;
  max-width: 63%;
}

.col-66, .col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.col-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

.col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

.col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}

.no-padding {
  padding: 0;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-15 {
  padding: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-30 {
  padding: 30px;
}

.uni-flex {
  display: flex;
  flex-direction: row;
}

.uni-flex-item {
  flex: 1;
}

.uni-row {
  flex-direction: row;
}

.uni-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/*col end*/

/*flex start*/
.dis-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-w {
  flex-wrap: wrap;
}

.justify-c {
  justify-content: center;
}

.justify-sb {
  justify-content: space-between;
}

.justify-se {
  justify-content: space-evenly;
}

/*flex end*/

/*font-size start*/
.fs20{
  font-size: 20px;
}
.fs24{
  font-size: 24px;
}
.fs36{
  font-size: 36px;
}
/*font-size end*/

/*公共*/

// 商品标题
.j-flex-aic {
  display: flex;
  align-items: center;
}

.j-goods-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 28px;
  line-height: 40px;
  color: #333;
}

/*公共 end*/

/*购物车*/

.jShoppingCartItem-cnt-check {
  flex-shrink: 0;
  color: #CFCFCF;

  .iconfont {
    font-size: 30px;
  }

  .iconfont.active {
    color: $theme-color;
  }
}

/*购物车 end*/

/*商品列表*/

.goodsList-drawer-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 82px;
  width: 100%;
  height: 66px;
  padding-right: 32px;
  background: #fff;
}

@mixin goodsList-drawer-btn {
  font-size: 24px;
  width: 184px;
  height: 66px;
  line-height: 66px;
}

.goodsList-drawer-btn-confirm {
  @include goodsList-drawer-btn;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  color: #fff;
  background: #ED2856;
}

.goodsList-drawer-btn-reset {
  @include goodsList-drawer-btn;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  background: #F7F7F8;
  color: #666;
}

/*商品列表 end*/

/*购物车*/

.jVersionSpecifications-pop-detail-item-check {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  background: $theme-color;
  color: #fff;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.jVersionSpecifications-pop-detail-item-check-icon {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

/*购物车 end*/
