/*margin*/

.mt40 {
  margin-top: 40px;
}

.mt58 {
  margin-top: 58px;
}

.mt60 {
  margin-top: 60px;
}

.mt116 {
  margin-top: 116px;
}

.ml26 {
  margin-left: 26px;
}

.mb12{
  margin-bottom: 12px;
}

/*margin end*/
