/*margin*/

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt40 {
  margin-top: 40px;
}

.mt58 {
  margin-top: 58px;
}

.mt60 {
  margin-top: 60px;
}

.mt116 {
  margin-top: 116px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml20 {
  margin-left: 20px;
}

.ml26 {
  margin-left: 26px;
}

.mb12 {
  margin-bottom: 12px;
}

.mr6 {
  margin-right: 6px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mr12 {
  margin-right: 12px;
}

.mr32 {
  margin-right: 32px;
}

.mr34 {
  margin-right: 34px;
}

/*margin end*/

/*购物车*/

.jShoppingCartItem-cnt-check {
  flex-shrink: 0;
  color: #CFCFCF;

  .iconfont {
    font-size: 30px;
  }

  .iconfont.active {
    color: $theme-color;
  }
}

/*购物车 end*/

/*商品列表*/

.goodsList-drawer-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 82px;
  width: 100%;
  height: 66px;
  padding-right: 32px;
  background: #fff;
}

@mixin goodsList-drawer-btn {
  font-size: 24px;
  width: 184px;
  height: 66px;
  line-height: 66px;
}

.goodsList-drawer-btn-confirm {
  @include goodsList-drawer-btn;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  color: #fff;
  background: #ED2856;
}

.goodsList-drawer-btn-reset {
  @include goodsList-drawer-btn;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  background: #F7F7F8;
  color: #666;
}

/*商品列表 end*/
