/*margin*/

.mt40 {
  margin-top: 40px;
}

.mt58 {
  margin-top: 58px;
}

.mt60 {
  margin-top: 60px;
}

.mt116 {
  margin-top: 116px;
}

.ml20 {
  margin-left: 20px;
}

.ml26 {
  margin-left: 26px;
}

.mb12{
  margin-bottom: 12px;
}

.mr6{
  margin-right: 6px;
}

.mr8{
  margin-right: 8px;
}

.mr10{
  margin-right: 10px;
}

.mr12{
  margin-right: 12px;
}

.mr32{
  margin-right: 32px;
}

.mr34{
  margin-right: 34px;
}

/*margin end*/
