.orderConfirm {
  position: relative;
  min-height: 100vh;
  background: #F5F5F5;
  padding: 24px 24px 140px 24px;
  .bg-style{
    width: 1200px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    left: -240px;
    top: -300px;
    z-index: 1;
    background: $theme-color;
  }
  .head-tip{
    z-index: 11;
    padding: 24px 0 24px 56px;
    line-height: 40px;
    position: relative;
    color: #fff;
    font-size: 28px;
    word-wrap: break-word;
    .head-tip-icon{
      position: absolute;
      left: 10px;
      top: 30px;
      font-size: 40px;
    }
  }
}

.orderConfirm-list {
  margin-top: 24px;
}

.orderConfirm-btm {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #CDCDCD;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  .btn-style{
    display: flex;
    justify-content: flex-end;
  }
}

.orderConfirm-btm-text {
  color: #333;
  font-size: 24px;
}

.orderConfirm-btm-price{
  color: $theme-color;
  font-size: 28px;
}

.orderConfirm-btm-btn-cancle {
  display: inline-block;
  width: 154px;
  height: 42px;
  line-height: 42px;
  color: $theme-color;
  border-radius: 21px;
  border: 1px solid $theme-color;
  font-size: 24px;
  background: #fff;
}
.orderConfirm-btm-btn-sure {
  display: inline-block;
  width: 154px;
  height: 42px;
  line-height: 42px;
  background: $theme-color;
  border-radius: 21px;
  font-size: 24px;
  color: #fff;
}
.Verification-model {
  .send-btn{
    color: $theme-color;
  }
}
.Verification-row {
  display: flex;
  margin-bottom: 30px;
  border:2px solid #c9c9c2;

}
.Verification-title {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.Verification-send {
  width: 200px;
  height: 70px;
  background: #f9f9f9;
  line-height: 70px;
  text-align: center;
  font-size:26px;
  border-right:2px solid #c9c9c2;
  color: #333;
}
.Verification-inputView {
  width: 500px;
  height: 70px;
  font-size:26px;
  line-height: 70px;
  text-align: center;
  color: #333;
}
