.JOrderConfirmItem-par {
  position: relative;
  padding-bottom: 96px;
  background: linear-gradient(158deg, #F7518F 0%, #ED2856 100%);
  border-radius: 20px;
}

.jOrderConfirmItem-wrap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.jOrderConfirmItem {
  position: relative;
  width: 100%;
  padding: 40px 24px;
  background: #fff;
  border-bottom: 1px dashed $theme-color;

  &:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .jOrderConfirmItem-semicircle-wrap {
      display: none;
    }
  }
}

.jOrderConfirmItem-detail {
  display: flex;
  align-items: center;
}

.jOrderConfirmItem-detail-portrait {
  width: 152px;
  height: 152px;
  flex-shrink: 0;

  image {
    width: 100%;
    height: 100%;
  }
}

.jOrderConfirmItem-detail-cnt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.jOrderConfirmItem-detail-cnt-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 28px;
  line-height: 40px;
}

.jOrderConfirmItem-detail-cnt-price-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 18px;
  line-height: 44px;
}

.jOrderConfirmItem-detail-cnt-price {
  display: flex;
  align-items: center;
  color: $theme-color;
  font-size: 32px;
}

.jOrderConfirmItem-detail-cnt-text {
  color: #333;
  font-size: 20px;
}

.jOrderConfirmItem-detail-match-type {
  display: flex;
  align-items: center;
  min-height: 34px;
  margin-top: 24px;

  .jSwitch-wrap {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.jOrderConfirmItem-detail-match-type-text {
  color: #333;
  font-size: 24px;
  display: flex;
  line-height: 60px;
  .stock-type{
    margin-right: 40px;
  }
  .store-type{
    margin-right: 40px;
  }
  .WD-input{
    border-radius: 10px;
    border: 1px solid #eee;
    width: 100px;
    height: 60px;
    line-height: 60px;
    padding: 10px;
  }
}

.jOrderConfirmItem-detail-mark-wrap {
}

.jOrderConfirmItem-detail-mark-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.jOrderConfirmItem-detail-mark-item-name {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
  width: 200px;
}

.jOrderConfirmItem-detail-mark-item-name-star {
  color: $theme-color;
  margin-right: 4px;
}

.jOrderConfirmItem-detail-mark-item-name-icon {
  font-size: 14px;
  margin-left: 6px;
}

.jOrderConfirmItem-detail-mark-item-val {
  flex-grow: 1;
  font-size: 24px;
  color: #999;
  margin-left: 10px;
  text{
    width: 100%;
  }
  .detailAddress{
    color: $theme-color;
  }
  &:hover {
    color: #333;
  }
}

.jOrderConfirmItem-total {
  position: absolute;
  bottom: -130px;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 24px;
  .type-flag{
    background: #fff;
    color: $theme-color;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;

  }
  .input-style{
    color: #fff !important;
    width: 382px;
    border-bottom: 2px solid #fff;
    font-size: 24px;
  }
}
.placeholderClass{
  color: #fff;
}
.jOrderConfirmItem-total-text {
}

.jOrderConfirmItem-total-price {
}

.jOrderConfirmItem-semicircle-wrap {
  position: absolute;
  z-index: 90;
  top: 100%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  //overflow: hidden;
}

.jOrderConfirmItem-semicircle {
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: #f5f5f5;
  border-radius: 100%;
  //box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15) inset;
}

.jOrderConfirmItem-semicircle-left {
  left: -2px;
}

.jOrderConfirmItem-semicircle-right {
  right: -2px;

  .jOrderConfirmItem-semicircle {
    right: 50%;
    transform: translateX(50%);
  }
}
.yc-flag{
  font-size: 20px;
  color: $theme-color;
  border: 2px solid $theme-color;
  padding: 5px 20px;
  border-radius: 10px;
}
.text-theme{
  color: $theme-color;
}
.pb200{
  padding-bottom: 200px !important;
}
.bottom-20{
  bottom: -20px !important;
}
.mt12{
  margin-top: 12px;
}
.lh66{
  line-height: 66px;
}
.w150{
  width: 150px;
}
.flex-wrap{
  flex-wrap: wrap;
}
