.jVersionSpecifications-pop {
  position: relative;
  padding-top: 24px;
  padding-bottom: 120px;
  background: #fff;
}

.jVersionSpecifications-head {
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.jVersionSpecifications-head-title {
  font-size: 30px;
  line-height:42px;
  color: #333;
}

.jVersionSpecifications-head-title-icon {
  color: $theme-color;
  font-size: 24px;
}

.jVersionSpecifications-pop-head-wrap{
  padding-left: 24px;
}

.jVersionSpecifications-pop-head {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-right: 60px;
  border-bottom: 1px solid #E1E1E1;
}

.jVersionSpecifications-pop-head-left {
  flex-shrink: 0;
  width: 176px;
  height: 176px;

  image {
    width: 100%;
    height: 100%;
  }
}

.jVersionSpecifications-pop-head-cnt {
  padding-right: 30px;
}

.jVersionSpecifications-pop-head-cnt-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 32px;
  line-height: 44px;
}

.jVersionSpecifications-pop-head-cnt-text {
  color: #666;
  font-size: 24px;
  line-height: 34px;
}

.jVersionSpecifications-pop-head-cnt-price {
  color: $theme-color;
  font-size: 24px;
}

.jVersionSpecifications-pop-head-cnt-item {
  display: flex;
  align-items: center;
}

.jVersionSpecifications-pop-detail-wrap {
  padding-left: 24px;
  max-height: 666px;
  overflow-y: auto;
}

.jVersionSpecifications-pop-detail {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 40px;
  border-bottom: 1px solid #F0F0F0;
}

.jVersionSpecifications-pop-detail-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.jVersionSpecifications-pop-detail-head-title {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 32px;
  font-size: 24px;
  color: $theme-color;

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 24px;
    background: $theme-color;
  }
}

.jVersionSpecifications-pop-detail-head-title-arrow {
  color: #999;

  &.active {
    transform: rotateX(180deg);
  }
}

.jVersionSpecifications-pop-detail-list {

}

.jVersionSpecifications-pop-detail-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  background: #F7F7F8;
  border-radius: 10px;
  padding: 12px 40px 12px 30px;
  margin-bottom: 20px;
  border: 1px solid #F7F7F8;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    background: #FFF5F7;
    border: 1px solid $theme-color;

    .jVersionSpecifications-pop-detail-item-name,
    .jVersionSpecifications-pop-detail-item-val-type1,
    .jVersionSpecifications-pop-detail-item-val-type2,
    .jVersionSpecifications-pop-detail-item-val-type3 {
      color: $theme-color;
    }
  }
}

.jVersionSpecifications-pop-detail-item-name {
  flex-shrink: 0;
  color: #999;
  font-size: 20px;
}

.jVersionSpecifications-pop-detail-item-name-wrap {
  display: flex;
  align-items: center;
  min-width: 50%;
  max-width: 100%;
  height: 40px;
}

.jVersionSpecifications-pop-detail-item-val-type1 {
  font-size: 28px;
  color: #333;
}

.jVersionSpecifications-pop-detail-item-val-type2 {
  font-size: 28px;
  color: $theme-color;
}

.jVersionSpecifications-pop-detail-item-val-type3 {
  font-size: 20px;
  color: #333;
}

.jVersionSpecifications-btn-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background: #fff;
  padding-right: 32px;
}
