.transferShoppingCart{
    padding:24px;
    padding-bottom:120px;
}
.cumulative-shoppingCart{
    height: 34px;
    font-size: 24px;
    font-family: PingFangSC-Light,PingFang SC;
    font-weight: 300;
    color: #666;
    line-height: 34px;
    margin-bottom: 24px;
    margin-top: 24px;
}
.mt24{
    border-radius: 20px;
    border:1px solid #2283E2;
}
