.applicationsIndex {
  min-height: 100vh;
  background: #F5F5F5;
}
.app-nav{
  background: #fff;
  padding: 40px 24px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  .app-nav-left{
    display: flex;
    .app-nav-left-menu{
      width: 36px;
      height: 29px;
      margin-right: 16px;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .logo{
      margin-left: 52px;
      width: 160px;
      height: 50px;
      image{
        width: 100%;
        height: 100%;
      }
    }
  }
  .app-nav-right{
    width: 42px;
    height: 45px;
    image{
      width: 100%;
      height: 100%;
    }
  }
}
.app-header{
  margin-bottom: 12px;
  padding-top: 42px;
  background: #fff;
  .app-header-swiper{
    height: 275px;
    width: 100%;
    margin-bottom: 44px;
    .uni-swiper-wrapper {
      //border-radius: 20px;
    }
    .homepage-swiper {
      //   width:670px;
      //   height:280px;
      //   position: absolute;
      //top: 170px;
      //left: 24px;
      //border-radius: 20px;
    }

    .swiper-box {
      width: 100%;
      height: 275px;
      //border-radius: 20px;
    }

    .swiper-item {
      width: 100%;
      height: 275px;
      /* #ifndef APP-NVUE */
      display: flex;
      /* #endif */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //border-radius: 10px;
    }

    .image {
      width: 100%;
      height: 100%;
    }

  }
  .app-header-quickly{
    padding-bottom: 32px;
    position: relative;
    .lately-app-list,.my-app-list{
      transition: .5s;
      display: flex;
    }
    .app-list-item{
      text-align: center;
      width: 20%;
      .icon-img{
        margin: 0 auto;
        width: 60px;
        height: 60px;
        image{
          width: 100%;
          height: 100%;
        }
      }
    }
    .quickly-status{
      margin: 30px auto 0;
      font-size: 16px;
      color: #999;
      background: #F5F5F5;
      width: 226px;
      line-height: 32px;
      border-radius:18px;
      display: flex;
      .quickly-status-lately,.quickly-status-my{
        width: 113px;
        height:32px;
        text-align: center;
      }
      .quickly-status-lately.active,.quickly-status-my.active{
        transition: .5s;
        background: #3895FD;
        border-radius:18px;
        color: #fff;
      }
    }
  }
}
.app-all{
  .app-all-section{
    background: #fff;
    margin-bottom: 12px;
    padding: 24px;
    .app-all-section-titel{
      font-size: 32px;
      color: #333;
      margin-bottom: 24px;
    }
    .app-all-section-list{
      display: flex;
      flex-wrap: wrap;
      .app-all-section-item{
        width: 20%;
        padding: 0px;
        text-align: center;
        .icon-img{
          margin: 0 auto;
          width: 60px;
          height: 60px;
          image{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.app-function{
  background: #fff;
  padding-top: 24px;
  .app-function-titel{
    font-size: 32px;
    margin:0px 0px 24px 24px;
  }
  .app-function-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    .app-function-item{
      height: 186px;
      width: 50%;
      padding: 20px;
      image{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.info-drawer{
  padding-top: 78px;
  padding-left: 24px;
  .drawer-header{
    display: flex;
    .drawer-header-img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .drawer-header-info{
      padding-left: 30px;
      flex-grow: 1;
    }
  }
  .drawer-menu-icon{
    font-size: 32px;
  }
}
.jCell-title{
  width: 200px !important;
}
.tag-task{
  width:38px;
  height:24px;
  background:#FF003C;
  border-radius:12px;
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
}
.border-b{
  border-bottom: 2px solid #D1D1D1;
}
.lh48{
  line-height: 48px;
}
.fs24{
  font-size: 24px;
}
.fs34{
  font-size: 34px;
}

.text-333{
  color: #333;
}
.text-666{
  color: #666;
}
.text-999{
  color: #999;
}
.errorMsg {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:52px;
  font-size: 30px;
}

.btnStyle {
  margin-top: 60px;
  width:700px;
  height:88px;
  background:#2283E2;
  border-radius:48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-weight:400;
  font-size: 30px;
  line-height: 88px;
}

.errorImg {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 268px;
    background: url('@/assets/img/appIndex/error-lock.png') no-repeat;
    background-size: 100%;
    background-position: 0 -25px;
    padding-top: 54px;
}
