.orList .uni-drawer__content {
  width: 608px !important ;
}
.orderList-drawer-filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #333;
  height: 40px;
  margin-bottom: 12px;
  margin-top: 48px;
  padding-right: 30px;

  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}
.orderList-drawer-filter-list {
  display: flex;
  flex-wrap: wrap;
}
.orderList-drawer-filter-input {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  border:2px solid rgba(219,219,219,1);
  padding: 0 16px;
  width: 90%;

}
.orderList-drawer-filter-down-input {
  font-size: 24px;
  padding: 0 16px;
  height: 55px;
  line-height: 55px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.industry-brand{
  overflow: hidden;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 30px;
}
.industry-brand-child{
  float: left;
  height: 105px;
  width: calc(50% - 20px);
  margin-right: 20px;

}
.addressee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #333;
  height: 43px;
  margin-bottom: 12px;
  margin-top: 10px;
  padding-right: 30px;
  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}
.timeParent{
  display:-moz-box;
  -moz-box-orient:horizontal;
  display:-webkit-box;
  display:box;
  box-orient:horizontal;
  border:2px solid rgba(219,219,219,1);
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  margin-right: 22px;
}
.box1{
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
  font-size: 24px;
  color: #DBDBDB;
  text-align: center;
}
.box2{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  font-size: 30px;
}
.box3{
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
  font-size: 24px;
  color: #DBDBDB;
  text-align: center;
}
.timeFont{
  font-size: 30px;
  margin-top: 10px;
}
.basejustify{
  display: flex;
  justify-content: space-between;
}
.dropdownstyle{
  margin-left: 5px;
  margin-right: 20px;
  .iconxia {
    font-size: 20px;
  }

}
.left-20{
  margin-left: 40px;
}
.calentdarContent {
  background-color: white;
}
.calentdarTitle{
  padding-top: 28px;
  padding-bottom: 38px;
  font-size: 34px;
  color: #333;
  text-align: center;
  margin: auto;
}
.calentVerify {
  padding-top: 28px;
  padding-right: 20px;
  font-size: 34px;
  font-weight: 300;
  color: #ED2856;;
  line-height: 44px;
}
.calentCancle {
  padding-top: 28px;
  padding-left: 20px;
  font-size: 34px;
  font-weight: 300;
  color: #999999;
  line-height: 44px;
}
.uni-calendar__header-btn[data-v-5fe32366]{
  width: 18px;
  height: 18px;
}

.uni-calendar-item--checked[data-v-7425cf4a] {
  background-color: #ED2856;
  opacity: 1;
  color: #fff;
  border-radius: 50px;
}
.uni-calendar__header-text[data-v-5fe32366]{
  font-size: 32px;
  color: #ED2856;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.uni-calendar__header[data-v-5fe32366]{
  border-bottom-color:white;
  padding-bottom: 50px;
}
.uni-calendar-item--isDay[data-v-7425cf4a]{
  background-color: #ED2856;
  opacity: 1;
  color: #fff;
  border-radius: 50px;
}
// .uni-calendar-item__weeks-box-item {
//   border-radius: 30px;
//   border-color: #eee;
//   border:1px solid;
// }
.uni-calendar__backtoday[data-v-5fe32366]{
  background-color:white;
  color: white;
}

.uni-calendar-item--isDay-text[data-v-7425cf4a] {
  color:#333;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px;
  border:2px solid rgba(219,219,219,1);
  margin-top: 10px;
  .iconxia {
    font-size: 20px;
  }
  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}
.iconscreen{
  font-size: 30px;
  color: #ED2856;

}
