.jDrawerFilterItem-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #666;
  height: 42px;
  margin-bottom: 24px;
  margin-top: 32px;
  padding-right: 30px;

  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}

.jDrawerFilterItem-head-icon-right {
  color: #999;
  font-size: 28px;
}

.jDrawerFilterItem-head-tips {
  font-size: 24px;
  color: #999;
}

.jDrawerFilterItem-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.jDrawerFilterItem-list-item {
  width: 160px;
  height: 52px;
  margin-bottom: 32px;
  margin-right: 32px;
  background: #F7F7F8;
  border-radius: 26px;
  color: #666;
  text-align: center;
  line-height: 60px;
  font-size: 24px;


  &.active {
    color: #ED2856;
    background: #FFF5F7;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.jDrawerFilterItem-head-ads-wrap {
  padding-right: 30px;

  .jDrawerFilterItem-head {
    padding-right: 0;
  }
}

.jDrawerFilterItem-head-ads {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #F7F7F8;
  border-radius: 24px;
  color: #666;
  font-size: 24px;
  padding-left: 32px;
  padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jDrawerFilterItem-price-range {
  display: flex;
  align-items: center;
}


.jDrawerFilterItem-price-ipt {
  width: 160px;
  height: 52px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}

.jDrawerFilterItem-price-line {
  width: 52px;
  height: 1px;
  background: #DBDBDB;
  margin-left: 34px;
  margin-right: 34px;
}
