.jHeadTab-wrap {
  position: relative;
  background: #fff;
  height: 130px;
}

.jHeadTab-list-wrap {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}

.jHeadTab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-left: 28px;
  padding-right: 28px;
  background: #fff;
  height: 58px;
}

.jHeadTab-item {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 24px;

  &.active {
    color: $theme-color;
  }

  .iconfont {
    font-size: 20px;
  }
}

$jHeadTab-pop-tab-list: 24px;
.jHeadTab-pop-tab-list {
  display: flex;
  justify-content: flex-start;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: $jHeadTab-pop-tab-list;
  overflow-x: auto;
  background: #fff;
  height: 92px;
  margin-top: -3px !important;

  &.isExpend {
    padding-bottom: 0;
  }
}

.jHeadTab-pop-tab-item {
  position: relative;
  flex-shrink: 0;
  height: 44px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: #F2F2F7;
  border-radius: 22px;
  color: #666;
  font-size: 24px;

  &.active {
    height: 44px + $jHeadTab-pop-tab-list;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .jHeadTab-pop-tab-item-text-wrap {
      top: calc(50% - 12px);
    }
  }
}

.jHeadTab-pop-tab-item-text-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.jHeadTab-pop-tab-item-text {
  margin-right: 8px;
}

.jHeadTab-pop-tab-item-icon {
  font-size: 14px;
}

.jHeadTab-icon-wrap {

}
