.proComAct-filter-drawer-cnt-list {
  padding-left: 24px;
  max-height: 766px;
  overflow-y: auto;
  padding-top: 18px;

}

.pro-act-pop {
  position: relative;
  padding-top: 42px;
  padding-bottom: 120px;
  background: #fff;
}

.pro-act-head {
  display: flex;
  .pro-act-head-title{
    padding-left: 30px;
    padding-right: 72%;
    color: #333333;
    font-size: 30px;
  }
  .pro-act-head-but{
    font-size: 32px;
    color: $theme-color;
  }
}

.pro-act-pop-detail-wrap {
  padding-left: 24px;
  //max-height: 766px;
  height: calc(100% - 42px);
  overflow-y: auto;
}

.pro-act-pop-detail {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 40px;
  border-bottom: 1px solid #F0F0F0;
}

.pro-act-pop-detail-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.pro-act-pop-detail-head-title {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 32px;
  font-size: 24px;
  color: $theme-color;

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 24px;
    background: $theme-color;
  }
}

.pro-act-pop-detail-head-title-arrow {
  color: #999;

  &.active {
    transform: rotateX(180deg);
  }
}

.pro-act-pop-detail-item-one {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.pro-act-pop-detail-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  background: #F7F7F8;
  border-radius: 10px;
  padding: 12px 30px 12px 30px;
  margin-bottom: 20px;
  border: 1px solid #F7F7F8;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    background: #FFF5F7;
    border: 1px solid $theme-color;

    .pro-act-pop-detail-item-name,
    .pro-act-pop-detail-item-val-type1,
    .pro-act-pop-detail-item-val-type2,
    .pro-act-pop-detail-item-val-type3 {
      color: $theme-color;
    }
  }
}
.pro-act-pop-detail-item-oneNam{
  color: #666666;
  font-size: 20px;
}

.pro-act-pop-detail-item-name {
  color: #999;
  font-size: 20px;
}

.pro-act-pop-detail-thr {
  display: flex;
  align-items: center;
  height: 40px;
}
.pro-act-pop-detail-for {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 12px;
}
.marker {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: $theme-color;
  margin-right: 4px;
}

.pro-act-pop-detail-item-name-wrap0 {
  display: flex;
  align-items: center;
  height: 40px;
}
.pro-act-pop-detail-item-name-wrap1 {
  display: flex;
  align-items: center;
  width: 35%;
  height: 40px;
}
.pro-act-pop-detail-item-name-wrap {
  display: flex;
  align-items: center;
  width: 50%;
  height: 40px;
}
.pro-act-pop-detail-item-name-wrap2 {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40px;
}
.pro-act-pop-detail-item-name-wrap3 {
  display: flex;
  align-items: center;
  width: 27%;
  height: 40px;
}

.pro-act-pop-detail-item-val-type1 {
  font-size: 28px;
  color: #333;
}

.pro-act-pop-detail-item-val-type2 {
  font-size: 28px;
  color: $theme-color;
}

.pro-act-pop-detail-item-val-type3 {
  font-size: 20px;
  color: #333;
}

.pro-act-btn-wrap {
  position: absolute;
  bottom: 0;
  width: 76%;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background: #fff;
  padding-right: 32px;
}
