.marketDetail {
  overflow-y: auto !important;
  min-height: 100vh;
  background: #F5F5F5;
  padding-bottom: 124px;
}

.marketDetail-tab-picker {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: $theme-color;

  .iconfont {
    font-size: 20px;
  }
}

.marketDetail-order-infor {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #666;
  font-size: 24px;
  .market-detail-head{
    width: 100%;
    padding: 0 40px 18px 40px;
    border-bottom: 2px solid #eaeaea;
    .title{
      font-size: 36px;
      color: #333;
      margin-bottom: 20px;
    }
    .market-type-info{
      font-size: 29px;
      display: flex;
      color: #666;
      .type-info-item{
        display: flex;
        .type-item-left{
        }
        .type-item-right{
          color: $theme-color;
          margin-right: 20px;
        }
      }
    }
  }
}

.marketDetail-ads-detail {
  position: relative;
  padding: 26px 50px 26px 40px;
  font-size: 28px;
  color: $theme-color;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .iconfont {
    display: inline-block;
    font-size: 34px;
    margin-right: 12px;
    vertical-align: bottom;
  }
  .right-style{
    color: #999;
    position: absolute;
    top: 28px;
    right: 0px;
  }
}

.marketDetail-ads-total {
  flex-shrink: 0;
  margin-right: 10px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.marketDetail-orders{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: #999;
  padding: 24px 0px;
}
.marketDetail-requirement{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  .condition-item{
    display: flex;
    width: 50%;
    color: #333;
    .key-style{
      color: #999;
      width: 200px;
      text-align: right;
      margin-right: 20px;
    }
  }
}
.marketDetail-list {
  padding: 0 24px;
}
.text-theme{
  color: $theme-color;
}
.br-b-grey{
  border-bottom: 2px solid #eaeaea;
}
.text-333{
  color: #333;
}
.text-999{
  color: #999;
}
.w200{
  width: 200px;
}
.w210{
  width: 210px;
}
