.marketList {
  min-height: 100vh;
  background: #F5F5F5;

  .uni-drawer__content {
    width: 608px !important;
  }
}

.marketList-drawer {
  position: relative;
  height: 100%;
}

.marketList-drawer-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 82px;
  width: 100%;
  height: 66px;
  padding-right: 32px;
}

@mixin marketList-drawer-btn {
  font-size: 24px;
  width: 184px;
  height: 66px;
  line-height: 66px;
}

.marketList-drawer-btn-confirm {
  @include marketList-drawer-btn;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  color: #fff;
  background: #ED2856;
}

.marketList-drawer-btn-reset {
  @include marketList-drawer-btn;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  background: #F7F7F8;
  color: #666;
}

.marketList-drawer-cnt-list {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding-left: 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.marketList-drawer-filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #333;
  height: 42px;
  margin-bottom: 24px;
  margin-top: 32px;
  padding-right: 30px;

  .iconxia {
    font-size: 20px;
  }

  .reverse {
    display: inline-block;
    transform: rotateX(180deg);
  }
}

.marketList-drawer-filter-head-icon-right {
  color: #999;
  font-size: 28px;
}

.marketList-drawer-filter-head-tips {
  font-size: 24px;
  color: #999;
}

.marketList-drawer-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.marketList-drawer-filter-input {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  border:2px solid rgba(219,219,219,1);
  padding: 0 32px;
}
.marketList-drawer-filter-list-item {
  width: 160px;
  height: 52px;
  margin-bottom: 32px;
  margin-right: 32px;
  background: #F7F7F8;
  border-radius: 26px;
  color: #666;
  text-align: center;
  line-height: 60px;
  font-size: 24px;


  &.active {
    color: #ED2856;
    background: #FFF5F7;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.marketList-drawer-filter-head-ads-wrap {
  padding-right: 30px;

  .marketList-drawer-filter-head {
    padding-right: 0;
  }
}

.marketList-drawer-filter-head-ads {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #F7F7F8;
  border-radius: 24px;
  color: #666;
  font-size: 24px;
  padding-left: 32px;
  padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marketList-drawer-filter-price-range {
  display: flex;
  align-items: center;
}


.marketList-drawer-filter-price-ipt {
  width: 160px;
  height: 52px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}

.marketList-drawer-filter-price-line {
  width: 52px;
  height: 1px;
  background: #DBDBDB;
  margin-left: 34px;
  margin-right: 34px;
}
